<div class="main-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>Monte seu horário</mat-card-title>
      </mat-card-header>
  
      <form class="example-form">
  
        <mat-card-content>

            <label>Crie sua agenda e a personalize de acordo com sua semana</label>
 
        </mat-card-content>

        <mat-card-content>

            <label>Segunda Feira</label>

            <mat-form-field class="example-full-width">
                <input matInput placeholder="Categoria">
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <input matInput placeholder="Detalhes">
            </mat-form-field>

            <label>Selecione um horário</label>
            <input mdc-datetime-picker="" date="false" time="true" placeholder="Time" minutes="true"
            min-date="minDate" type="text" id="time2" format="HH:mm" short-time="false" ng-model="timeutc"
            class=" md-input">

            <button mat-fab color="primary" aria-label="Salvar atividade diária">
                <mat-icon>control_point</mat-icon>
              </button>
            

        </mat-card-content>

        <mat-card-content>

            <label>Terça Feira</label>

            <mat-form-field class="example-full-width">
                <input matInput placeholder="Categoria">
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <input matInput placeholder="Detalhes">
            </mat-form-field>

            <label>Selecione um horário</label>
            <input mdc-datetime-picker="" date="false" time="true" placeholder="Time" minutes="true"
            min-date="minDate" type="text" id="time2" format="HH:mm" short-time="false" ng-model="timeutc"
            class=" md-input">

            <button mat-fab color="primary" aria-label="Salvar atividade diária">
                <mat-icon>control_point</mat-icon>
              </button>
            

        </mat-card-content>

        <mat-card-content>

            <label>Quarta Feira</label>

            <mat-form-field class="example-full-width">
                <input matInput placeholder="Categoria">
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <input matInput placeholder="Detalhes">
            </mat-form-field>

            <label>Selecione um horário</label>
            <input mdc-datetime-picker="" date="false" time="true" placeholder="Time" minutes="true"
            min-date="minDate" type="text" id="time2" format="HH:mm" short-time="false" ng-model="timeutc"
            class=" md-input">

            <button mat-fab color="primary" aria-label="Salvar atividade diária">
                <mat-icon>control_point</mat-icon>
              </button>
            

        </mat-card-content>

        <mat-card-content>

            <label>Quinta Feira</label>

            <mat-form-field class="example-full-width">
                <input matInput placeholder="Categoria">
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <input matInput placeholder="Detalhes">
            </mat-form-field>

            <label>Selecione um horário</label>
            <input mdc-datetime-picker="" date="false" time="true" placeholder="Time" minutes="true"
            min-date="minDate" type="text" id="time2" format="HH:mm" short-time="false" ng-model="timeutc"
            class=" md-input">

            <button mat-fab color="primary" aria-label="Salvar atividade diária">
                <mat-icon>control_point</mat-icon>
              </button>
            

        </mat-card-content>

        <mat-card-content>

            <label>Sexta Feira</label>

            <mat-form-field class="example-full-width">
                <input matInput placeholder="Categoria">
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <input matInput placeholder="Detalhes">
            </mat-form-field>

            <label>Selecione um horário</label>
            <input mdc-datetime-picker="" date="false" time="true" placeholder="Time" minutes="true"
            min-date="minDate" type="text" id="time2" format="HH:mm" short-time="false" ng-model="timeutc"
            class=" md-input">

            <button mat-fab color="primary" aria-label="Salvar atividade diária">
                <mat-icon>control_point</mat-icon>
              </button>
            

        </mat-card-content>

        <mat-card-content>

            <label>Sábado</label>

            <mat-form-field class="example-full-width">
                <input matInput placeholder="Categoria">
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <input matInput placeholder="Detalhes">
            </mat-form-field>

            <label>Selecione um horário</label>
            <input mdc-datetime-picker="" date="false" time="true" placeholder="Time" minutes="true"
            min-date="minDate" type="text" id="time2" format="HH:mm" short-time="false" ng-model="timeutc"
            class=" md-input">

            <button mat-fab color="primary" aria-label="Salvar atividade diária">
                <mat-icon>control_point</mat-icon>
              </button>
            

        </mat-card-content>

        <mat-card-content>

            <label>Domingo</label>

            <mat-form-field class="example-full-width">
                <input matInput placeholder="Categoria">
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <input matInput placeholder="Detalhes">
            </mat-form-field>

            <label>Selecione um horário</label>
            <input mdc-datetime-picker="" date="false" time="true" placeholder="Time" minutes="true"
            min-date="minDate" type="text" id="time2" format="HH:mm" short-time="false" ng-model="timeutc"
            class=" md-input">

            <button mat-fab color="primary" aria-label="Salvar atividade diária">
                <mat-icon>control_point</mat-icon>
              </button>
            

        </mat-card-content>
  
        <button mat-stroked-button class="btn-block">Salvar</button>
  
      </form>
    </mat-card>
  </div>

